.job-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 60rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
}

.job-form fieldset {
    background-color: #eeeeee;
}

.job-form legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

.column {
    float: left;
    width: 33.33%;
}

.column50 {
    float: left;
    width: 50%;
    text-align: left;
}

.job-form .column1 {
    float: left;
    width: 40%;
    text-align: left;
}

.job-form .column2 {
    float: left;
    width: 60%;
}

.job-form .column-phone {
    float: left;
    width: 40%;
}

.job-form .column-extension {
    float: left;
    width: 20%;
}

job-form .column-dropdown {
    float: left;
    width: 40%;
}

job-form .column-dropdownrest {
    float: left;
    width: 40%;
}

.wanter {
    display: flex;
    position: fixed;
    right: 50px;
}

.wanter p {
    margin-right: 10px;
}

@media (min-width: 501px) and (max-width: 800px) {
    .wanter {
        display: flex;
        position: fixed;
        right: 0px;
    }

    .wanter p {
        margin-right: 10px;
    }
}

    @media (max-width: 500px) {
        .first {
            display: block;
        }

        .column50 {
            width: 100%;
            margin-bottom: 10px;
        }

        .job-form .column1 {
            width: 100%;
            justify-content: left;
            text-align: left;
            margin-bottom: 10px;
        }

        .job-form .column2 {
            width: 100%;
        }

        .column {
            width: 100%;
            text-align: left;
            display: block;
            justify-content: left;
        }

        .job-form .column-phone {
            width: 100%;
        }

        .job-form .column-extension {
            width: 50%;
        }

        .wan {
            width: 120px;
        }

        .wanter {
            display: flex;
            position: fixed;
            right: 0;
        }


            .wanter p {
                margin-right: 10px;
            }
    }

