.reply-button{
    float: none;
    margin-top: 100px;
}

.update-button {
    float: left;
    margin-top: 100px;
    margin-right: 10px;
    color: black;
}

.post-image img{
    width: 100%;
}

.pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.titleCity {
    font-size: 16px;
}

.lab {
    margin-top: 10px;
    border: 1px solid gray;
    width: 230px;
    font-size: 1.1rem;
    border-radius: 3px;
    height: 40px;
    background-color: #EBECF0;
}